.style-logo{
  margin-bottom: 5%;
  margin-top: 5%;
}
.style-checked{
  width: 15%;
  float: left;
  position: relative;
  margin-bottom: 5%;
}
.style-remember {
  font-size: 14px;
  margin-top: 5%;
  margin-left: 5%;
}
.style-label-checked{
  width: 170px;
}
.style-alert{
  float: center;
  position: absolute;
}
.style-card-login{
  width: 400px;
  border: 0px;
}
.style-btn-submit{
  float: right;
  margin-bottom: 3%;
  margin-top: 3%;
}