.style-footer{
  margin-top: 5%;
  margin-left: 8%;
  margin-bottom: 5%;
  padding: 0px;
}
.fa-handshake:before {
  content: "\f2b5";
  color: rgba(255,255,255,.5);
}
.fa-globe-americas:before {
  content: "\f57d";
  color: rgba(255,255,255,.5);
}
.fa-file-alt:before {
  content: "\f15c";
  color: rgba(255,255,255,.5);
}
.fa-envelope:before {
  content: "\f0e0";
  color: rgba(255,255,255,.5);
}
