<section>
<div class="card col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 style-card-register">

<img src="/assets/images/logo-konektron.png" class="style-logo container mx-auto" style="width:120px">
<h4 class="mx-auto style-reg">Registro</h4>
  <div class="card-body">

    <div id="alert3" class="alert alert-success alert-dismissible style-alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Parabéns!</strong> Cadastro Realizado com Sucesso!<br>
    </div>

    <form [formGroup]="formRegister">
      <label for="usr">Nome:</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-user"></i></span>
        </div>
        <input type="text" class="form-control" id="user" formControlName="name" required>
      </div>

      <label for="nick">Nickname:</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-user"></i></span>
        </div>
        <input type="text" class="form-control" id="nickname" formControlName="nickname" required>
      </div>

      <div class="form-group">
        <label for="sex">Sexo:</label>
        <select class="form-control" id="sex" formControlName="sex">
          <option>Masculino</option>
          <option>Feminino</option>
        </select>
      </div>

      <label for="natId">CPF:</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-user"></i></span>
        </div>
        <input type="text" [textMask]="{mask: maskNatId}" class="form-control" id="natId" formControlName="natId"  required>
      </div>

      <label for="phone">Telefone:</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-phone"></i></span>
        </div>
        <input type="text" [textMask]="{mask: maskPhone}" class="form-control" id="phone" formControlName="phone" required>
      </div>

      <label for="email">Email:</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-envelope"></i></span>
        </div>
        <input id="email" type="email" class="form-control"
        formControlName="email" placeholder="Digite seu e-mail!" required>
      </div>

      <label for="pass">Senha:</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-lock"></i></span>
        </div>
        <input id="password" minlength="6" maxlength="8" type="password" class="form-control"
        formControlName="password" placeholder="Digite sua senha de 6 à 8 dígitos!" required>
      </div>

      <label for="confirm">Confirmação de Senha:</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-lock"></i></span>
        </div>
        <input id="confirm" minlength="6" maxlength="8" type="password" class="form-control"
        formControlName="confirm" placeholder="Digite sua senha novamente!" required>
      </div>

      <div id="alert1" class="alert alert-danger alert-dismissible style-alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Erro!</strong> Há campos vazios, você deve preenchê-los para prosseguir!
      </div>

      <div id="alert2" class="alert alert-danger alert-dismissible style-alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Erro!</strong> Os campos de senha e confirmação de senhas devem ser iguais!
      </div>

      <div id="alert4" class="alert alert-danger alert-dismissible style-alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Erro!</strong> Os campos de senha e confirmação de senhas devem ter de 6 à 8 dígitos!
      </div>

      <div id="alert6" class="alert alert-danger alert-dismissible style-alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Erro!</strong> CPF Inválido, Favor Digitar um CPF Válido!!
      </div>

      <div class="form-check checkbox">
        <label class="checkbox-inline style-label-checked">
          <input id="terms" type="checkbox" class="form-check-input style-checked form-control"
          formControlName="terms"> <p class="style-terms">Aceitar <a href="#" routerLink="/sign-terms">Termos</a></p>
        </label>
      </div>

      <div id="alert5" class="alert alert-danger alert-dismissible style-alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Erro!</strong> Você deve aceitar os termos antes de prosseguir!
      </div>

      <br>
      <div>
        <button id="back" type="button" class="btn btn-link" routerLink="/signin">Voltar</button>
      </div>

    </form>
    <button type="button" class="btn btn-primary style-btn-submit" (click)="register()">Enviar</button>
  </div>

</div>
</section>
