<section>
<div class="card col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 style-card-register">

  <img src="/assets/images/logo-konektron.png" class="style-logo container mx-auto" style="width:120px">
  <h4 class="mx-auto style-reg">TERMOS E CONDIÇÕES :</h4>

  <div>
    <div class="style-title">
      1.RELAÇÃO CONTRATUAL
    </div>
    <div class="style-text">
      Os termos de uso regulam o acesso ou utilização pelo usuário,um indivíduo,
      na República Federativa do Brasil,de aplicativos,web sites,conteúdo,produtos e serviços,
      disponibilizados pelo aplicativo DHARA
    </div>
  </div>

  <div class="card-body">  
    <button type="button" class="btn btn-primary btn-block" (click)="backSignup()">Voltar</button>
  </div>

</div>
</section>
