<section>
<div class="card col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 style-card-register">

  <img src="/assets/images/logo-konektron.png" class="style-logo container mx-auto" style="width:120px">
  <h4 class="mx-auto style-reg">TERMOS E CONDIÇÕES :</h4>

  <div>
    <div class="style-title">
      1.RELAÇÃO CONTRATUAL
    </div>
    <div class="style-text">
      Os termos de uso regulam o acesso ou utilização pelo usuário,um indivíduo,
      na República Federativa do Brasil,de aplicativos,web sites,conteúdo,produtos e serviços,
      disponibilizados pelo aplicativo Konektron
    </div>
    <div class="style-title">
      POR FAVOR ,LEIA ATENTAMENTE OS PRESENTES TERMOS ANTES DE ACESSAR OU UTILIZAR OS SERVIÇOS
    </div>
    <div class="style-text">
      O acesso e utilização dos Serviços,pelo Usuário,constitui o seu acordo em ficar vinculado
      pelos presentes termos e estabelece uma relação contratual entre o Usuário e a Konektron.
      Se não aceitar estes Termos,não poderá acessar nem utilizar os Serviços. Os presentes
      termos substituem expressamente quaisquer acordos ou entendimentos com o Usuário,ou,
      de um modo geral,deixar de oferecer ou negar o acesso aos Serviços ou a qualquer parte dos mesmos,
      em qualquer momento e por qualquer motivo.
      <br>
      É possível que se apliquem Termos Suplementares a certos Serviços,tal como politicas para um
      determinado evento,atividade ou promoção, sendo que esses Termos Suplementares serão divulgados ao
      Usuário a respeito dos serviços aplicáveis. Os Termos suplementares complementam e serão
      interpretados como constituindo parte dos Termos, para efeito dos serviços aplicáveis.
      os Termos Suplementares prevalecem sobre os presentes Termos na eventualidade de um litígio
      relacionado com os Serviços aplicáveis.
      <br>
      A Konektron poderá , ocasionalmente,alterar os Termos relacionados com os serviços.
      As alterações produzem efeito após a publicação, pelo aplicativo Konektron,dos Termos,
      políticas ou Termos Suplementares alterados no espaço dedicado ao Serviço aplicável.
      A continuação do acesso ou da utilização dos Serviços após a referida publicação constitui a
      aceitação, do Usuário, em ficar vinculado pelos presentes termos na sua versão alterada.
      A coleta e utilização, por nós, de informação pessoal relativa aos Serviços é efetuada nos termos
      previstos na Política de Privacidade do Konektron, a qual se encontra disponível em [website].
      O Konektron poderá disponibilizar a um departamento de reclamações a informação necessária
      (incluindo a informação de contato do Usuário) na eventualidade de uma reclamação,
      de um litígio ou conflito, os quais podem incluir um acidente que envolva o Usuário e um
      Prestador de Serviços Terceiro (abaixo definido), sempre que essa informação ou dados sejam
      indispensáveis para a resolução da reclamação, litígio ou conflito.
    </div>
    <div class="style-title">
      2. OS SERVIÇOS
    </div>
    <div class="style-text">
      Os Serviços são disponibilizados por meio de uma plataforma tecnológica que permite aos
      Usuários das aplicativos móveis, disponibilizados como parte dos Serviços (cada, um “Aplicativo”),
      organizar e agendar serviços de drenagem linfática, massagem relaxante e massagem terapeutica
      (designados nesse documento como “serviços de beleza e estética”) prestados por terceiros
      independentes, incluindo fornecedores de serviços de beleza e estética, por meio de contrato
      com a Konektron(“Prestadores de Serviços Terceiros” ou, individualmente,
      “Prestador de Serviços Terceiro”). Salvo acordo em contrário, por escrito,
      entre a Konektron e o Usuário, os Serviços são disponibilizados unicamente para o uso pessoal,
      e não comercial, pelo Usuário. O Usuário RECONHECE QUE A Konektron NÃO FORNECE SERVIÇOS DE
      SERVIÇOS DE BELEZA E ESTÉTICA NEM FUNCIONA COMO UM SALÃO DE BELEZA E QUE TODOS OS SERVIÇOS
      DE BELEZA E ESTÉTICA SÃO PRESTADOS POR PRESTADORES DE SERVIÇOS TERCEIROS QUE NÃO SÃO
      CONTRATADOS PELA Konektron OU POR QUALQUER UMA DAS SUAS AFILIADAS.
    </div>
    <div class="style-title">
      2.1. LICENÇA.
    </div>
    <div class="style-text">
      Sujeito à aceitação, pelo Usuário, dos presentes Termos, a Konektron oferece ao Usuário uma
      licença limitada, não exclusiva, não sublicenciável, revogável e não transferível para:
      (i) acessar e utilizar os Aplicativos no seu equipamento pessoal, unicamente para efeitos
      da respectiva utilização dos Serviços; e (ii) acessar e utilizar qualquer conteúdo,
      informação e materiais relacionados que venham a ser disponibilizados através dos Serviços,
      em qualquer caso, unicamente para efeitos de utilização pessoal e não comercial pelo Usuário.
      Quaisquer direitos não expressamente garantidos nos presentes termos são reservados pela Konektron
      e respectivos licenciantes.
    </div>
    <div class="style-title">
      2.2. RESTRIÇÕES.
    </div>
    <div class="style-text">
      O Usuário não está autorizado a: (i) remover qualquer indicação de direitos autorais,
      marca comercial ou outros avisos proprietários de qualquer espaço dos Serviços; (ii) reproduzir,
      modificar, elaborar trabalhos derivados, distribuir, licenciar, alugar, vender, revender,
      transferir, expor ou apresentar publicamente, transmitir, reproduzir, emitir,
      ou de outra forma explorar os Serviços, exceto na medida do expressamente permitido pelaKonektron;
      descompilar, usar engenharia reserva ou desmontar os Serviços, exceto na medida do permitido
      por lei aplicável; (iv) criar ligações ou reproduzir através de “frames” qualquer parte dos Serviços;
      (v) criar ou lançar quaisquer programas ou scripts para captar, indexar, recolher ou,
      de qualquer outra forma extrair dados de qualquer parte dos Serviços ou sobrecarregar
      indevidamente ou impossibilitar a operação e/ou funcionalidade de qualquer aspeto dos Serviços;
      ou (vi) tentar conseguir o acesso não autorizado ou prejudicar qualquer aspeto dos Serviços ou
      dos seus respectivos sistemas ou redes.
    </div>
    <div class="style-title">
      2.3. PRESTAÇÃO DOS SERVIÇOS.
    </div>
    <div class="style-text">
      O Usuário reconhece que os Serviços poderão ser disponibilizados através das referidas marcas
      ou opções de serviços ou no âmbito de: (i) determinadas subsidiárias ou afiliadas da Konektron ;
      ou (ii) operadores de serviços independentes ou por conta de terceiros.
      2.4. SERVIÇOS DE TERCEIROS E CONTEÚDO.
      Os Serviços poderão ser disponibilizados ou acessados no âmbito de serviços e conteúdo de terceiros,
      (incluindo publicidade) fora do controle da Konektron . O Usuário reconhece que a utilização de serviços
      e conteúdo de terceiros poderá estar sujeita a termos de utilização e políticas de privacidade
      diferentes. A Konektron não oferece qualquer garantia relativamente a tais serviços e conteúdo de
      terceiros e em circunstância alguma será responsável por quaisquer produtos ou serviços de tais
      fornecedores terceiros.
    </div>
    <div class="style-title">
      2.4. SERVIÇOS DE TERCEIROS E CONTEÚDO.
    </div>
    <div class="style-text">
      Os Serviços poderão ser disponibilizados ou acessados no âmbito de serviços e conteúdo de terceiros,
      (incluindo publicidade) fora do controle da Konektron . O Usuário reconhece que a utilização de serviços
      e conteúdo de terceiros poderá estar sujeita a termos de utilização e políticas de privacidade
      diferentes. A Konektron não oferece qualquer garantia relativamente a tais serviços e conteúdo de
      terceiros e em circunstância alguma será responsável por quaisquer produtos ou serviços de tais
      fornecedores terceiros.
    </div>
    <div class="style-title">
      2.5. TITULARIDADE.
    </div>
    <div class="style-text">
      Os Serviços e todos os respetivos direitos são e permanecem de propriedade da Konektron ou dos seus
      licenciantes. Nem os presentes Termos nem o uso dos Serviços, pelo Usuário,
      lhe conferem quaisquer direitos: (i) sobre ou relacionados com os Serviços,
      à exceção da licença limitada concedida supra; ou (ii) para usar ou,
      de alguma forma fazer referência, às denominações sociais da Konektron.
    </div>
    <div class="style-title">
      3. A UTILIZAÇÃO DOS SERVIÇOS DA Konektron  PELO USUÁRIO
    </div>
    <div class="style-title">
      3.1. CONTAS DE USUÁRIO.
    </div>
    <div class="style-text">
      Para poder usufruir da maior parte das funcionalidades dos Serviços,
      o Usuário terá de registar e manter uma conta pessoal de Usuário de Serviços ativa (“Conta”).
      O Usuário deverá ter pelo menos 18 (dezoito) anos de idade para poder obter uma Conta.
      O registro de uma conta obriga que o Usuário submeta certas informações pessoais,
      tais como o seu nome, CPF, RG, data de nascimento, endereço, número de telefone celular e idade,
      além de, pelo menos, um método de pagamento válido (um cartão de crédito ou a indicação de um
      parceiro aceito para efeitos de pagamento). O Usuário aceita manter a informação constante na
      sua Conta, correta, completa e atualizada. Ao não manter informação correta, completa e
      atualizada na sua Conta, tal como o registo de um método de pagamento inválido ou caducado,
      o Usuário incorre no risco de impossibilidade de acesso e utilização dos Serviços ou da
      denúncia destes Termos, pela Konektron . O Usuário é responsável por toda a atividade na sua
      Conta e aceita manter sempre a segurança e a confidencialidade do nome de Usuário e senha da mesma.
      A menos que de outra forma permitido pela Konektron, por escrito, o Usuário só poderá possuir uma Conta.
    </div>
    <div class="style-title">
      3.2. REQUISITOS E CONDUTA DO USUÁRIO
    </div>
    <div class="style-text">
      O Serviço não está disponível para pessoas com idade inferior a 18 (dezoito) anos.
      O Usuário não pode autorizar que terceiros utilizem a sua Conta e que pessoas com idade inferior
      a 18 (dezoito) anos usufruam de serviços de beleza e estética de Prestadores de Serviços Terceiros,
      a menos que acompanhados pelo próprio. O Usuário não pode ceder ou de outra forma transferir
      a Sua Conta para qualquer outra pessoa ou entidade. O Usuário aceita cumprir todas as
      leis aplicáveis na utilização dos Serviços e apenas poderá utilizar os mesmos para fins legais.
      Ao utilizar os Serviços, o Usuário não provocará aborrecimentos, embaraços,
      distúrbios ou danos em propriedade, quer ao Prestador de Serviços Terceiro ou a qualquer outra parte.
      Em determinadas situações e para poder acessar ou utilizar os Serviços,
      o Usuário poderá ser solicitado a apresentar comprovativo de identidade,
      sendo que aceita que lhe poderá ser negado o acesso ou uso dos Serviços caso se recuse
      a apresentar o comprovativo de identidade.
    </div>
    <div class="style-title">
      3.3. MENSAGEM DE TEXTO
    </div>
    <div class="style-text">
      Ao criar uma Conta, o Usuário aceita que os Serviços lhe poderão enviar mensagens com
      textos informativos (via SMS ou via o aplicativo Whatsapp) como parte do funcionamento
      normal da sua utilização dos Serviços. O Usuário pode optar, em qualquer momento,
      por não receber mensagens de texto (SMS ou via o aplicativo Whatsapp) da Konektron,
      bastando para isso enviar um correio eletrônico (e-mail) para Konektron@Konektron.orkneytech.com.br ,
      com a indicação de que não pretende receber mais mensagens,
      juntamente com o número do equipamento móvel no qual recebe essas mensagens.
      O Usuário reconhece que a opção de não receber mensagens de texto
      (SMS ou via o aplicativo Whatsapp) pode afetar a sua utilização dos Serviços.
    </div>
    <div class="style-title">
      3.4. CONTEÚDO FORNECIDO PELO USUÁRIO.
    </div>
    <div class="style-text">
      A Konektron pode ocasionalmente, ao seu exclusivo critério, permitir ao Usuário submeter,
      transferir, publicar ou de outra forma disponibilizar à Konektron , através dos Serviços,
      conteúdo e informação de texto, áudio e/ou visual, incluindo comentários e feedback
      relacionados com os Serviços, pedidos de apoio e registos para efeitos de concursos e promoções
      (“Conteúdo de Usuário”). Todo o Conteúdo fornecido pelo Usuário mantém-se propriedade do mesmo.
      Contudo, ao fornecer Conteúdo de Usuário à Konektron , o Usuário concede à Konektron uma licença mundial,
      perpétua, irrevogável, transferível, isenta de royalties, para utilizar, copiar, modificar,
      criar obras derivadas, distribuir, apresentar e executar publicamente, e de outra forma explorar,
      sob qualquer modo, tal Conteúdo de Usuário, em todos os formatos e canais de distribuição
      conhecidos ou futuramente concebidos (incluindo em relação aos Serviços e à atividade da Konektron
      e em sites e serviços de Terceiros), sem aviso ou consentimento prévio do Usuário,
      e sem a necessidade de qualquer pagamento ao mesmo ou a qualquer outra pessoa ou entidade.
      O Usuário declara e garante que: (i) é o exclusivo proprietário de todo o Conteúdo de Usuário
      ou detém todos os direitos, licenças, consentimentos e autorizações necessárias para conceder,
      à Konektron, a licença sobre o Conteúdo de Usuário nos termos acima descritos; e (ii) nem o Conteúdo
      de Usuário nem a respectiva submissão, transferência, publicação ou qualquer outra forma de
      divulgação de tal Conteúdo de Usuário, nem a Utilização de Conteúdo pela Konektron nos termos
      previstos no presente documento irão resultar na infração, apropriação indevida ou violação
      da propriedade intelectual ou dos direitos proprietários de um terceiro, ou dos direitos de
      publicidade ou privacidade, ou na violação de qualquer lei ou regulamento aplicável.
      O Usuário aceita não submeter Conteúdo de Usuário de caráter difamatório, calunioso,
      violento, obsceno, pornográfico, ilegal ou de outra forma ofensivo, assim determinado
      pela Konektron ao seu exclusivo critério, quer ou não esse material se encontre protegido por lei.
      A Konektron pode, mas não é obrigada a rever, controlar ou eliminar Conteúdo de Usuário,
      ao seu exclusivo critério e em qualquer momento e por qualquer motivo, sem pré-aviso ao Usuário.
    </div>
    <div class="style-title">
      3.5. ACESSO À REDE OU EQUIPAMENTOS
    </div>
    <div class="style-text">
      O Usuário é responsável por obter o acesso necessário à rede de dados com vista à
      utilização dos Serviços. É possível que se apliquem as tarifas e taxas da rede de dados
      e mensagens do equipamento móvel do Usuário, caso acesse ou utilize os Serviços
      a partir de um dispositivo sem fios, sendo que o Usuário é responsável pelo pagamento de
      tais taxas e tarifas. O Usuário é responsável pela aquisição e atualização do
      equipamento ou dos dispositivos necessários para acessar e utilizar os Serviços e
      Aplicativos e quaisquer atualizações dos mesmos. A Konektron não garante que os Serviços
      ou qualquer parte dos mesmos irão funcionar num determinado equipamento ou dispositivo.
      Além disso, os Serviços poderão estar sujeitos a falhas e atrasos inerentes ao uso da
      Internet e comunicações eletrônicas ou inerentes à operadora de telecomunicações
      contratada pelo Usuário.
    </div>
    <div class="style-title">
      3.5. ACESSO À REDE OU EQUIPAMENTOS
    </div>
    <div class="style-text">
      O Usuário é responsável por obter o acesso necessário à rede de dados com vista à
      utilização dos Serviços. É possível que se apliquem as tarifas e taxas da rede de dados
      e mensagens do equipamento móvel do Usuário, caso acesse ou utilize os Serviços
      a partir de um dispositivo sem fios, sendo que o Usuário é responsável pelo pagamento de
      tais taxas e tarifas. O Usuário é responsável pela aquisição e atualização do
      equipamento ou dos dispositivos necessários para acessar e utilizar os Serviços e
      Aplicativos e quaisquer atualizações dos mesmos. A Konektron não garante que os Serviços
      ou qualquer parte dos mesmos irão funcionar num determinado equipamento ou dispositivo.
      Além disso, os Serviços poderão estar sujeitos a falhas e atrasos inerentes ao uso da
      Internet e comunicações eletrônicas ou inerentes à operadora de telecomunicações
      contratada pelo Usuário.
    </div>
    <div class="style-title">
      4. PAGAMENTO
    </div>
    <div class="style-text">
      O Usuário compreende que poderá incorrer em despesas em resultado da utilização dos serviços
      ou produtos que receber de um Prestador de Serviços Terceiro (“Preços”).
      Para usufruir dos serviços ou produtos pela utilização do Serviço, a Konektron irá cobrar,
      através da plataforma pagseguro  o pagamento dos Preços em nome do Prestador de Serviços Terceiro,
      na qualidade de agente exclusivo de cobranças do Prestador de Serviços Terceiro.
      Os Preços incluem os impostos aplicáveis previstos por lei. O pagamento dos Preços,
      pelo Usuário, será definitivo e não reembolsável, salvo determinação em contrário, pela Konektron.
      O pagamento de qualquer Preço é devido de imediato e será cobrado pelaKonektron, através do método
      de pagamento preferencial indicado na conta do Usuário, após o que a  Konektron procederá ao envio
      do recibo pelo correio eletrônico indicado pelo Usuário. Caso não seja possível que ocorra o
      débito do valor dos Serviço por qualquer razão, a Konektron gerará um título de cobrança e poderá
      utilizar de todo e qualquer meio extrajudicial ou judicial visando ao recebimento do valor
      inadimplido pelo Usuário.
      Na relação entre o Usuário e a Konektron, a Konektron reserva o direito de, a qualquer momento e a
      seu exclusivo critério, definir, remover e/ou rever os Preços para todo e qualquer serviço
      obtido através dos Serviços. A Konektron informará o Usuário sobre os Preços aplicados,
      sendo que este é responsável pelos Preços incorridos através da sua Conta. A Konektron pode,
      ocasionalmente, disponibilizar ofertas promocionais e descontos a determinados Usuários,
      os quais poderão resultar em diferenças nos montantes cobrados por serviços iguais ou
      idênticos obtidos através dos Serviços, sendo que o Usuário aceita que tais ofertas
      promocionais e descontos, a menos que também lhe sejam disponibilizados, não têm qualquer
      influência na sua utilização dos Serviços ou nos Preços que lhe são aplicados.
      O Usuário pode optar por cancelar o seu pedido de serviços ou produtos de um Prestador de
      Serviços Terceiro em qualquer momento anterior à chegada do Prestador de Serviços Terceiro,
      em cujo caso poderá ser cobrada uma taxa de cancelamento.
      Esta estrutura de pagamentos destina-se a compensar plenamente o Prestador de Serviços
      Terceiro pelos serviços ou produtos prestados. Exceto no que se refere a serviços de beleza
      e estética solicitados através do Aplicativo, a Konektron não estipula qualquer parcela do
      pagamento efetuado pelo Usuário como gorjeta ou gratificação a ser atribuída ao Prestador de
      Serviços Terceiro. Qualquer declaração, pela Konektron (no site da Konektron, no Aplicativo ou nos
      materiais de marketing da Konektron) no sentido de que a oferta de gorjeta é “voluntária”,
      “desnecessária” e/ou “está incluída” nos pagamentos que o Usuário efetua pelos serviços
      ou produtos fornecidos não é destinada a sugerir que a Konektron preveja o pagamento de
      montantes adicionais, para além dos descritos anteriormente, ao Prestador de Serviços Terceiro.
      O Usuário compreende e aceita que, embora seja livre de proceder ao pagamento adicional,
      como gratificação, a qualquer Prestador de Serviços Terceiro que lhe fornece serviços ou
      produtos através do Serviço, não é obrigado a fazê-lo. As gratificações têm natureza voluntária.
      Após ter usufruído dos serviços ou produtos obtidos através do Serviço, o Usuário terá a
      oportunidade de classificar a sua experiência e deixar um comentário acerca do seu Prestador de
      Serviços.
    </div>
    <div class="style-title">
      5. EXCLUSÕES; LIMITAÇÃO DE RESPONSABILIDADE; INDENIZAÇÃO
    </div>
    <div class="style-title">
      5.1. EXCLUSÃO
    </div>
    <div class="style-text">
      OS SERVIÇOS SÃO FORNECIDOS “TAL QUAL” E “DE ACORDO COM A DISPONIBILIDADE.”
      A Konektron DECLINA QUALQUER RESPONSABILIDADE POR DECLARAÇÕES E GARANTIAS, EXPRESSAS,
      IMPLÍCITAS OU ESTATUTÁRIAS, NÃO EXPRESSAMENTE PREVISTAS NOS PRESENTES TERMOS,
      INCLUINDO GARANTIAS IMPLÍCITAS DE COMERCIABILIDADE, ADEQUAÇÃO A UM DETERMINADO FIM E DE NÃO VIOLAÇÃO.
      ALÉM DISSO, A Konektron NÃO DECLARA NEM OFERECE QUALQUER GARANTIA A RESPEITO DA FIABILIDADE,
      OPORTUNIDADE, QUALIDADE, ADEQUAÇÃO OU DISPONIBILIDADE DOS SERVIÇOS OU DE QUAISQUER SERVIÇOS
      OU PRODUTOS SOLICITADOS ATRAVÉS DA UTILIZAÇÃO DOS SERVIÇOS, NEM QUE OS SERVIÇOS SERÃO
      FORNECIDOS SEM INTERRUPÇÕES OU ERROS. A Konektron NÃO GARANTE A QUALIDADE, ADEQUAÇÃO,
      SEGURANÇA OU COMPETÊNCIA DE QUAISQUER PRESTADORES DE SERVIÇOS TERCEIROS.
      O USUÁRIO ACEITA QUE TODO O RISCO DECORRENTE DA SUA UTILIZAÇÃO DOS SERVIÇOS E DE
      QUALQUER SERVIÇO OU PRODUTO SOLICITADO RELACIONADO COM OS MESMOS É DA SUA
      EXCLUSIVA RESPONSABILIDADE, NA MEDIDA DO MÁXIMO PERMITIDO POR LEI.
    </div>
    <div class="style-title">
      5.2. LIMITAÇÃO DE RESPONSABILIDADE
    </div>
    <div class="style-text">
      A Konektron NÃO SERÁ RESPONSÁVEL POR DANOS INDIRETOS, INCIDENTAIS, ESPECIAIS, EXEMPLARES,
      PUNITIVOS OU CONSEQUENTES, INCLUINDO PERDA DE LUCROS, DADOS, DANOS PESSOAIS OU À PROPRIEDADE,
      RELACIONADOS COM OU DE OUTRA FORMA RESULTANTES DE QUALQUER USO DOS SERVIÇOS, AINDA QUE A
      Konektron TENHA SIDO ALERTADA PARA A POSSIBILIDADE DE OCORRÊNCIA DE TAIS DANOS.
      A Konektron NÃO SERÁ RESPONSÁVEL POR QUAISQUER DANOS, PREJUÍZOS OU PERDAS DECORRENTES DE:
      (I) A UTILIZAÇÃO OU CONFIANÇA DEPOSITADA NOS SERVIÇOS OU A INCAPACIDADE DE ACESSAR OU
      UTILIZAR OS SERVIÇOS, PELO USUÁRIO; OU (II) QUALQUER TRANSAÇÃO OU RELAÇÃO ENTRE O USUÁRIO
      E QUALQUER PRESTADOR DE SERVIÇOS TERCEIRO, AINDA QUE A Konektron TENHA SIDO ALERTADA PARA A
      POSSIBILIDADE DE OCORRÊNCIA DE TAIS DANOS. A Konektron NÃO SERÁ RESPONSÁVEL PELO ATRASO OU
      FALHA NO CUMPRIMENTO DOS SERVIÇOS, DECORRENTE DE CAUSAS FORA DO SEU CONTROLE RAZOÁVEL.
      EM CIRCUNST NCIA ALGUMA A RESPONSABILIDADE TOTAL DA Konektron, PERANTE O USUÁRIO,
      POR QUAISQUER DANOS, PERDAS OU PROCESSOS, EXCEDERÁ R$ 300,00 (Trezentos Reais).
      OS SERVIÇOS DA  Konektron PODERÃO SER UTILIZADOS, PELO USUÁRIO, COM O INTUITO DE SOLICITAR
      E AGENDAR SERVIÇOS DE BELEZA E ESTÉTICA OU PRODUTOS A PRESTADORES DE SERVIÇOS TERCEIROS,
      MAS O USUÁRIO ACEITA QUE A Konektron NÃO É, DE FORMA ALGUMA, RESPONSÁVEL PERANTE ESTE,
      POR QUALQUER SERVIÇO DE BELEZA E ESTÉTICA OU PRODUTO QUE LHE É FORNECIDO POR
      PRESTADORES DE SERVIÇOS TERCEIROS, DE OUTRA FORMA QUE NÃO A EXPRESSAMENTE
      ESTIPULADA NOS PRESENTES TERMOS.
      AS LIMITAÇÕES E EXCEÇÕES CONSTANTES NO PRESENTE CAPÍTULO 5 5 NÃO PRETENDEM CONSTITUIR
      UMA LIMITAÇÃO DA RESPONSABILIDADE OU ALTERAR OS DIREITOS DO USUÁRIO, NA QUALIDADE DE CONSUMIDOR,
      QUE NÃO PODEM SER EXCLUÍDOS POR LEI APLICÁVEL.
    </div>
    <div class="style-title">
      5.3. COMPENSAÇÃO
    </div>
    <div class="style-text">
      O Usuário aceita compensar e isentar a Konektronr e os seus administradores, diretores,
      funcionários e agentes, de e por todas e quaisquer reclamações, perdas, prejuízos e
      encargos (incluídos despesas com advogados) decorrentes ou relacionados com: (i) a
      respectiva utilização dos Serviços ou dos serviços e produtos obtidos através da sua
      utilização dos Serviços; (ii) a respectiva infração ou violação de qualquer uma das
      presentes condições; (iii) a utilização, pela Konektronr, do seu Conteúdo de Usuário;
      ou (iv) a respectiva violação dos direitos de qualquer terceiro, incluindo Prestadores
      de Serviços Terceiros.
    </div>
    <div class="style-title">
      6. LEI VIGENTE E FORO
    </div>
    <div class="style-text">
      Estes Termos serão regidos e interpretados de acordo com as leis do Brasil e
      quaisquer disputas oriundas dos presentes Termos que não puderem ser amigavelmente
      solucionadas pelas Partes, deverão ser submetidas ao foro da Comarca de SÃO JOSÉ -
      SANTA CATARINA.
    </div>
    <div class="style-title">
      7. OUTRAS DISPOSIÇÕES.
    </div>
    <div class="style-title">
      7.1. RECLAMAÇÕES DE VIOLAÇÃO DE DIREITOS AUTORAIS
    </div>
    <div class="style-text">
      As reclamações relativas a violação de direitos autorais devem ser enviadas para o agente
      designado da Konektron. Visite o website da Konektron para consultar o endereço designado e
      obter outras informações.
    </div>
    <div class="style-title">
      7.2. COMUNICAÇÕES
    </div>
    <div class="style-text">
      A Konektron poderá proceder a notificações através de um aviso geral publicado nos Serviços,
      ou por correio eletrônico para o endereço de correio eletrônico indicado na Conta do Usuário,
      ou por comunicação escrita enviada para o endereço indicado na mesma.
      O Usuário poderá notificar a Konektron através de comunicação escrita, com comprovante de recebimento,
      enviada para o endereço da Konektron em Konektron@Konektron.orkneytech.com.br
    </div>
    <div class="style-title">
      7.3. DISPOSIÇÕES GERAIS
    </div>
    <div class="style-text">
      O Usuário não pode ceder ou transferir os presentes Termos, no seu todo ou em parte,
      sem o consentimento prévio, por escrito, da Konektron. O Usuário autoriza a Konektron a ceder
      ou transferir os presentes Termos, no seu todo ou em parte, incluindo a:
      (i) uma subsidiária ou afiliada; (ii) um adquirente do capital, da empresa ou dos ativos da Konektron;
      ou (iii) um sucessor, em caso de fusão. O contrato entre o Usuário e a Konektron ou a utilização
      dos Serviços não determina a existência de qualquer relação vertical, de parceria, trabalho
      ou agência entre o Usuário, a Konektron e qualquer Prestador de Serviços Terceiro.
      A tolerância por qualquer uma das partes com relação a qualquer violação dos Termos
      ou sua omissão no exercício de quaisquer direitos outorgados pelo mesmo, não será considerada
      como novação ou renúncia em relação a qualquer violação futura, seja semelhante ou não,
      ou ao exercício por qualquer uma das partes de qualquer direito futuro conferido por estes Termos.
      Se qualquer cláusula dos presentes Termos for considerada ilegal, inválida ou inaplicável,
      no seu todo ou em parte, ao abrigo de qualquer lei, essa cláusula ou parte da mesma serão nesta
      medida entendidas como não fazendo parte dos presentes Termos, sendo que a legalidade,
      validade e aplicabilidade das restantes cláusulas dos presentes Termos não serão afetadas.
      Nesse caso, as partes devem substituir a parte da disposição ilegal, inválida ou inaplicável
      com uma (parte de uma) disposição que seja legal, válida e aplicável e que tenha,
      na maior medida possível, um efeito semelhante à disposição ou à sua parte ilegal,
      inválida ou inaplicável, tendo em conta o conteúdo e a finalidade do presente Contrato.
      Estes Termos constituem o acordo e entendimento integral das partes no que respeita ao
      seu assunto e substituem e sobrepõem-se a todos os acordos e compromissos anteriores e
      atuais em relação a esse assunto.
    </div>
  </div>

  <div class="card-body">
    <button type="button" class="btn btn-primary btn-block" (click)="backSignup()">Voltar</button>
  </div>

</div>
</section>
