<section>
<div class="card col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 style-card-register">

  <img src="/assets/images/logo-konektron.png" class="style-logo container mx-auto" style="width:120px">
  <h4 class="mx-auto style-reg">TERMOS E CONDIÇÕES :</h4>

  <div>
    <div class="style-title">
      1.RELAÇÃO CONTRATUAL
    </div>
    <div class="style-text">
      Os termos de uso regulam o acesso ou utilização pelo usuário,um indivíduo,
      na República Federativa do Brasil,de aplicativos,web sites,conteúdo,produtos e serviços,
      disponibilizados pelo aplicativo DHARA
    </div>
    <div class="style-title">
      POR FAVOR ,LEIA ATENTAMENTE OS PRESENTES TERMOS ANTES DE ACESSAR OU UTILIZAR OS SERVIÇOS
    </div>
    <div class="style-text">
      O acesso e utilização dos Serviços,pelo Usuário,constitui o seu acordo em ficar vinculado
      pelos presentes termos e estabelece uma relação contratual entre o Usuário e a DHARA.
      Se não aceitar estes Termos,não poderá acessar nem utilizar os Serviços. Os presentes
      termos substituem expressamente quaisquer acordos ou entendimentos com o Usuário,ou,
      de um modo geral,deixar de oferecer ou negar o acesso aos Serviços ou a qualquer parte dos mesmos,
      em qualquer momento e por qualquer motivo.
      <br>
      É possível que se apliquem Termos Suplementares a certos Serviços,tal como politicas para um
      determinado evento,atividade ou promoção, sendo que esses Termos Suplementares serão divulgados ao
      Usuário a respeito dos serviços aplicáveis. Os Termos suplementares complementam e serão
      interpretados como constituindo parte dos Termos, para efeito dos serviços aplicáveis.
      os Termos Suplementares prevalecem sobre os presentes Termos na eventualidade de um litígio
      relacionado com os Serviços aplicáveis.
      <br>
      A DHARA poderá , ocasionalmente,alterar os Termos relacionados com os serviços.
      As alterações produzem efeito após a publicação, pelo aplicativo DHARA,dos Termos,
      políticas ou Termos Suplementares alterados no espaço dedicado ao Serviço aplicável.
      A continuação do acesso ou da utilização dos Serviços após a referida publicação constitui a
      aceitação, do Usuário, em ficar vinculado pelos presentes termos na sua versão alterada.
      A coleta e utilização, por nós, de informação pessoal relativa aos Serviços é efetuada nos termos
      previstos na Política de Privacidade do DHARA, a qual se encontra disponível em [website].
      O DHARA poderá disponibilizar a um departamento de reclamações a informação necessária
      (incluindo a informação de contato do Usuário) na eventualidade de uma reclamação,
      de um litígio ou conflito, os quais podem incluir um acidente que envolva o Usuário e um
      Prestador de Serviços Terceiro (abaixo definido), sempre que essa informação ou dados sejam
      indispensáveis para a resolução da reclamação, litígio ou conflito.
    </div>
    <div class="style-title">
      2. OS SERVIÇOS
    </div>
    <div class="style-text">
      Os Serviços são disponibilizados por meio de uma plataforma tecnológica que permite aos
      Usuários das aplicativos móveis, disponibilizados como parte dos Serviços (cada, um “Aplicativo”),
      organizar e agendar serviços de drenagem linfática, massagem relaxante e massagem terapeutica
      (designados nesse documento como “serviços de beleza e estética”) prestados por terceiros
      independentes, incluindo fornecedores de serviços de beleza e estética, por meio de contrato
      com a DHARA(“Prestadores de Serviços Terceiros” ou, individualmente,
      “Prestador de Serviços Terceiro”). Salvo acordo em contrário, por escrito,
      entre a DHARA e o Usuário, os Serviços são disponibilizados unicamente para o uso pessoal,
      e não comercial, pelo Usuário. O Usuário RECONHECE QUE A DHARA NÃO FORNECE SERVIÇOS DE
      SERVIÇOS DE BELEZA E ESTÉTICA NEM FUNCIONA COMO UM SALÃO DE BELEZA E QUE TODOS OS SERVIÇOS
      DE BELEZA E ESTÉTICA SÃO PRESTADOS POR PRESTADORES DE SERVIÇOS TERCEIROS QUE NÃO SÃO
      CONTRATADOS PELA DHARA OU POR QUALQUER UMA DAS SUAS AFILIADAS.
    </div>
    <div class="style-title">
      2.1. LICENÇA.
    </div>
    <div class="style-text">
      Sujeito à aceitação, pelo Usuário, dos presentes Termos, a DHARA oferece ao Usuário uma
      licença limitada, não exclusiva, não sublicenciável, revogável e não transferível para:
      (i) acessar e utilizar os Aplicativos no seu equipamento pessoal, unicamente para efeitos
      da respectiva utilização dos Serviços; e (ii) acessar e utilizar qualquer conteúdo,
      informação e materiais relacionados que venham a ser disponibilizados através dos Serviços,
      em qualquer caso, unicamente para efeitos de utilização pessoal e não comercial pelo Usuário.
      Quaisquer direitos não expressamente garantidos nos presentes termos são reservados pela DHARA
      e respectivos licenciantes.
    </div>
    <div class="style-title">
      2.2. RESTRIÇÕES.
    </div>
    <div class="style-text">
      O Usuário não está autorizado a: (i) remover qualquer indicação de direitos autorais,
      marca comercial ou outros avisos proprietários de qualquer espaço dos Serviços; (ii) reproduzir,
      modificar, elaborar trabalhos derivados, distribuir, licenciar, alugar, vender, revender,
      transferir, expor ou apresentar publicamente, transmitir, reproduzir, emitir,
      ou de outra forma explorar os Serviços, exceto na medida do expressamente permitido pelaDHARA;
      descompilar, usar engenharia reserva ou desmontar os Serviços, exceto na medida do permitido
      por lei aplicável; (iv) criar ligações ou reproduzir através de “frames” qualquer parte dos Serviços;
      (v) criar ou lançar quaisquer programas ou scripts para captar, indexar, recolher ou,
      de qualquer outra forma extrair dados de qualquer parte dos Serviços ou sobrecarregar
      indevidamente ou impossibilitar a operação e/ou funcionalidade de qualquer aspeto dos Serviços;
      ou (vi) tentar conseguir o acesso não autorizado ou prejudicar qualquer aspeto dos Serviços ou
      dos seus respectivos sistemas ou redes.
    </div>
    <div class="style-title">
      2.3. PRESTAÇÃO DOS SERVIÇOS.
    </div>
    <div class="style-text">
      O Usuário reconhece que os Serviços poderão ser disponibilizados através das referidas marcas
      ou opções de serviços ou no âmbito de: (i) determinadas subsidiárias ou afiliadas da DHARA ;
      ou (ii) operadores de serviços independentes ou por conta de terceiros.
      2.4. SERVIÇOS DE TERCEIROS E CONTEÚDO.
      Os Serviços poderão ser disponibilizados ou acessados no âmbito de serviços e conteúdo de terceiros,
      (incluindo publicidade) fora do controle da DHARA . O Usuário reconhece que a utilização de serviços
      e conteúdo de terceiros poderá estar sujeita a termos de utilização e políticas de privacidade
      diferentes. A DHARA não oferece qualquer garantia relativamente a tais serviços e conteúdo de
      terceiros e em circunstância alguma será responsável por quaisquer produtos ou serviços de tais
      fornecedores terceiros.
    </div>
    <div class="style-title">
      2.4. SERVIÇOS DE TERCEIROS E CONTEÚDO.
    </div>
    <div class="style-text">
      Os Serviços poderão ser disponibilizados ou acessados no âmbito de serviços e conteúdo de terceiros,
      (incluindo publicidade) fora do controle da DHARA . O Usuário reconhece que a utilização de serviços
      e conteúdo de terceiros poderá estar sujeita a termos de utilização e políticas de privacidade
      diferentes. A DHARA não oferece qualquer garantia relativamente a tais serviços e conteúdo de
      terceiros e em circunstância alguma será responsável por quaisquer produtos ou serviços de tais
      fornecedores terceiros.
    </div>
    <div class="style-title">
      2.5. TITULARIDADE.
    </div>
    <div class="style-text">
      Os Serviços e todos os respetivos direitos são e permanecem de propriedade da DHARA ou dos seus
      licenciantes. Nem os presentes Termos nem o uso dos Serviços, pelo Usuário,
      lhe conferem quaisquer direitos: (i) sobre ou relacionados com os Serviços,
      à exceção da licença limitada concedida supra; ou (ii) para usar ou,
      de alguma forma fazer referência, às denominações sociais da DHARA.
    </div>
    <div class="style-title">
      3. A UTILIZAÇÃO DOS SERVIÇOS DA DHARA  PELO USUÁRIO
    </div>
    <div class="style-title">
      3.1. CONTAS DE USUÁRIO.
    </div>
    <div class="style-text">
      Para poder usufruir da maior parte das funcionalidades dos Serviços,
      o Usuário terá de registar e manter uma conta pessoal de Usuário de Serviços ativa (“Conta”).
      O Usuário deverá ter pelo menos 18 (dezoito) anos de idade para poder obter uma Conta.
      O registro de uma conta obriga que o Usuário submeta certas informações pessoais,
      tais como o seu nome, CPF, RG, data de nascimento, endereço, número de telefone celular e idade,
      além de, pelo menos, um método de pagamento válido (um cartão de crédito ou a indicação de um
      parceiro aceito para efeitos de pagamento). O Usuário aceita manter a informação constante na
      sua Conta, correta, completa e atualizada. Ao não manter informação correta, completa e
      atualizada na sua Conta, tal como o registo de um método de pagamento inválido ou caducado,
      o Usuário incorre no risco de impossibilidade de acesso e utilização dos Serviços ou da
      denúncia destes Termos, pela DHARA . O Usuário é responsável por toda a atividade na sua
      Conta e aceita manter sempre a segurança e a confidencialidade do nome de Usuário e senha da mesma.
      A menos que de outra forma permitido pela DHARA, por escrito, o Usuário só poderá possuir uma Conta.
    </div>
  </div>

  <div class="card-body">
    <button type="button" class="btn btn-primary btn-block" (click)="backSignup()">Voltar</button>
  </div>

</div>
</section>
